<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <title>Short URL</title>
</head>

<body style="font-size:20px; padding:50px;">

  <h1>Tiny App</h1>
  <a href="/urls">Go home</a>

  <p>TinyURL for
    <%= longURL %> is
    <%= shortURL %>
  </p>


  <!-- update option -->
  <h5>Update URL - Please ensure it's a full url, including http:// or https://</h5>
  <form method="POST" action="/urls/<%= shortURL %>/update">
    <input type="text" name="edit_url"> </input>
    <button type="submit" class="btn btn-primary">Update</button>
</body>

</html>